.page-layout__nav-item--active {
  font-weight: bold;
}

$hero-min-height: 400px;

.hero {
  background-size: cover;
  min-height: $hero-min-height;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero .hero-content{
  background-color: rgba(0,0,0,.65);
  height: inherit;
  min-height: $hero-min-height;
}

.hero .hero-header {
  padding: 100px 0;
}

.inverse {
  color: white;
}

section.content{
  padding-top:50px;
  padding-bottom: 50px;
}

div.content{
  padding-top:50px;
  padding-bottom: 50px;
}

h2{
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 30px;
}


.input-styled .input{
  background-color: transparent;
  border: none;
  color: #FFF;
  box-sizing: border-box;
  font-size: 24px;
  max-width: 250px;
  text-align: center;

  &:focus {
    outline: none;
  }
}
.input-styled .input::-webkit-input-placeholder {
  color: #AAA;
  }

.input-styled .input:focus::-webkit-input-placeholder {
  color:transparent;
  }

.name-prompt{
  margin-top:-75px;
}

.name-prompt h2 {
  margin-top:0;
}

.animatedContent-enter {
  opacity: 0.01;
}

.animatedContent-enter.animatedContent-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animatedContent-leave {
  opacity: 1;
}

.animatedContent-leave.animatedContent-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.loading-enter {
  opacity: 0.01;
}

.loading-enter.loading-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.namePrompt-enter{
  opacity: 0.01;
}
.namePrompt-enter.namePrompt-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animatedContent-leave {
  display: none;
}

.smooth {
  transition: all 250ms;
}

.debug-buttons {
  opacity: .10;
  transition: opacity 0.2s ease
}

.debug-buttons:hover {
  opacity: .50;
  transition: opacity 0.2s ease
}
